# Copie este arquivo para .env e configure com suas credenciais
# Não faça commit de valores reais no Git!

# API Ninjas Key - https://api-ninjas.com
# Free tier: 60 requisições por mês
API_NINJAS_KEY=9HvymEeY7y8Hd4Lz98jRiZYEYfVKGprk5QYUfyQh

# Porta do servidor
PORT=3000
